
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>app</title>
    </head>
    <body>
        <form action="/home" method="POST">
        <h1>Welcome to the Fortune Teller</h1>
        <h1 style="color: white;">Login</h1 >
        <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="username" name="username" >
        <input type="text" name="birthday" placeholder="birthday">
        <input type="submit" value="Continue">

        </form>
    </body>
</html>